<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ACE2_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ApplicationUtilities.Ace2ApplicationLogFileName" value="Ace2.log"/>
    <add key="DiscoveryServiceName" value="Connectivity.InstrumentDiscoveryService"/>
  </appSettings>
  <userSettings>
    <ACE2_UI.Properties.Settings>
      <setting name="NotificationWindowHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="UseAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplaySettings_Skin" serializeAs="String">
        <value>Bistra</value>
      </setting>
      <setting name="DisplaySettings_Scheme" serializeAs="String">
        <value>Ace Light</value>
      </setting>
      <setting name="Window_Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Window_Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Window_X_Position" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Window_Y_Position" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="NotificationWindowIsExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowMaximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowMinimised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FavoriteFilter" serializeAs="String">
        <value>False</value>
      </setting>
    </ACE2_UI.Properties.Settings>
  </userSettings>
</configuration>