<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Agilent.ACE2.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Agilent.ACE2.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<appSettings>
        <Agilent.ACE2.Shared.Properties.Settings>
            <setting name="Interface_Warnings_RebootRequired" serializeAs="String">
                <value>The interface configuration properties have changed and require a system reboot in order to take effect.</value>
            </setting>
            <setting name="IoAgent_Usb_InterfaceSelectonName" serializeAs="String">
                <value>USB</value>
            </setting>
        </Agilent.ACE2.Shared.Properties.Settings>
    </appSettings>-->
  <userSettings>
    <Agilent.ACE2.Shared.Properties.Settings>
      <setting name="IoAgent_Usb_InterfaceSelectionDescription" serializeAs="String">
        <value>USB instruments</value>
      </setting>
    </Agilent.ACE2.Shared.Properties.Settings>
  </userSettings>
</configuration>